*{
    margin: 0;
    padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #1b1b1b;
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

input:focus {
  border-color: #eebb6e;
  outline: none;
}

button {
  padding: 12px;
  background-color: #fdb96c;
  color: #2b2323;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f18f56;
}

#errorMessage {
  margin-top: 10px;
  color: red;
  font-weight: 500;
}