* {margin: 0;
       padding: 0;
       font-family: Arial, sans-serif;
       font-size: 36px;
       font-weight: bold;
}

.wishes {margin-top: 250px;
         margin-left: 500px;
         color: #6e060b;
    
}