* {
 margin: 0;
 padding: 0;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 color: #3a2a2a;
}

#clickBlock {
 width: 300px;
 height: 100px;
 background-color: #c0c0c0;
 text-align: center;
 line-height: 100px;
 margin-top: 150px;
 font-size: 20px;
 border-radius: 8px;
 transition: background-color 0.3s;
}

button {
 width: 300px;
 height: auto;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 padding-left: auto;
 padding-right: auto;
 background-color: #ecb67d;
 font-size: 20px;
 color: #ffffff;
 border: none;
 border-radius: 10px;
 cursor: pointer;
}

#message {
 font-weight: bold;
 color: #4ca313;
 margin-top: 30px;
}